<!---Form section--->
<section class="contact-form" id="section2">
    <div class="container line">
        <div class="heading">
            <center>
                <h2>CONTACT THE MAS</h2>
                <p>Please use the contact form below with your query, and one of our team<br> will be in touch as
                    soon as possible</p>
            </center>
        </div>
        {% form 'contact' %}
        {{ form_errors | default_errors }}
            <div class="row">
                <div class="col">
                    <input type="text" placeholder="FORENAME" class="form-control" name="contact[first_name]">
                </div>
                <div class="col">
                    <input type="text" placeholder="SURNAME" class="form-control" name="contact[last_name]">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" placeholder="EMAIL ADDRESS" class="form-control" name="contact[email]">
                </div>
                <div class="col">
                    <input type="text" placeholder="TELEPHONE" class="form-control" name="contact[order_number]">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="">ENQUIRY</label>
                    <input type="text" class="form-control enquiry" name="contact[body]">
                </div>
            </div>
            <div class="row text-center mt-4">
                <div class="col">
                    <button type="submit" class="btn ">SUBMIT</button>
                </div>
            </div>
            {% endform %}
    </div>
</section>