<!-- Section Footer-->
<section class="footer">
    <div class="container">
        <div class="row">
            {% for block in section.blocks %}
            <div class="col">
                {{ block.settings.footer_column }}
            </div>
            {% endfor %}
        </div>
        <div class="row footer-bottom mt-5">
            <div class="col-3">
                <p>Copyright Mas Des Infermières 2021 </p>
            </div>
            <div class="col-3">
                <p>Sign up for exlusive news and updates</p>
            </div>
            <div class="col-6">
                <form class="d-flex">
                    <input type="text" class="form-control" value="Enter Email Address">
                    <button class="btn" type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Section Footer mbl-->
<section class="footer-mbl text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="wines.php">THE WINES</a>
                <a href="">THE ESTATE</a>
                <a href="residences.php">THE RESIDENCES</a>
                <a href="">TERMS</a>
                <a href="">PRIVACY POLICY</a>
                <a href="">COOKIE POLICY</a>
            </div>
        </div>
        <div class="row social-icon">
            <div class="col">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </div>
        <hr>
        <div class="row newsletter">
            <div class="col">
                <p>Sign up for exlusive news and updates</p>
                <input type="text" class="" value="Enter Email Address">
                <button class="btn" type="submit">Subscribe</button>
            </div>
        </div>
        <hr>
        <div class="row footermbl-bottom">
            <p>145 Chemin des Infermières, 84580<br> Oppède, France</p>
            <p>COPYRIGHT MAS DES Infermières 2021 </p>
        </div>
    </div>
</section>




{% schema %}
{
  "name": "Footer mdi",
  "max_blocks": 4,
  "settings": [
  {
      "id": "bottom_column_one",
      "type": "text",
      "label": "Footer Bottom Column One",
      "default": "Copyright Mas Des Infermières 2021"
  },
  {
      "id": "bottom_column_two",
      "type": "text",
      "label": "Footer Bottom Column Two",
      "default": "Sign up for exlusive news and updates"
  }
  ],
  "blocks": [
  {
      "type": "text",
      "name": "column",
      "settings": [
      {
        "id": "footer_column",
        "type": "richtext",
        "label": "Add Footer Text Or link herer"
      }
      ]
  }
  ],
  "presets": [
      {
          "name": "Footer mdi",
          "category": "custom"
      }
]
}
{% endschema %}





</body>

</html>