<div class="main-banner-area222 contact-header">
    <div class="row contact-heading">
        <div class="col text-center">
            <span>CONTACT</span>
            <h2>GET IN TOUCH</h2>
            <div class="arrow-down mbl-hide">
                <a data-scroll href="#section2">
                    <div class="arrow"></div>
                </a>
            </div>
        </div>
    </div>
</div>