<div class="main-banner-area222 wine-header">
    <div class="row wine-heading">
        <div class="col text-center">
            <span>INTRODUCTION</span>
            <h2>OUR WINES</h2>
            <div class="arrow-down">
                <a data-scroll href="#section2">
                    <div class="arrow"></div>
                </a>
            </div>
        </div>
    </div>
</div>