<div class="main-banner-area header">
    <div class="main-banner-bg">
        <div class="row">
            <div class="col text-center">
                <img src="assets/Images/LOGO/MAS_DES_INF_LOGO.png">

                <div class="arrow-down">
                    <a data-scroll href="#section2">
                        <div class="arrow"></div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>