<div class="main-banner-area222 contact-header" style="background-image: url({{ section.settings.header_background | img_url: 'master' }});">
    <div class="row contact-heading">
        <div class="col text-center">
            <span>{{ section.settings.small_title }}</span>
            <h2>{{ section.settings.text_title }}</h2>
            <div class="arrow-down mbl-hide">
                <a data-scroll href="#section2">
                    <div class="arrow"></div>
                </a>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Contact Header",
  "settings": [
    {
        "id": "header_background",
        "type": "image_picker",
        "label": "Background Image"
    },
    {
        "id": "small_title",
        "type": "text",
        "label": "Small Text",
        "default": "CONTACT"
      },
      {
        "id": "text_title",
        "type": "text",
        "label": "Heading",
        "default": "GET IN TOUCH"
      }
  ],
  "presets": [
    {
      "name": "Contact Header",
      "category": "Custom"
    }
  ]
}
{% endschema %}