<div class="main-banner-area" style="background-image: url('{{ section.settings.logo | img_url: 'master' }}');">
    <div class="main-banner-bg">
        <div class="row">
            <div class="col text-center">
                <img src="{{ section.settings.logo | img_url: 'master' }}">
                <div class="arrow-down">
                    <a data-scroll href="#section2">
                        <div class="arrow"></div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>



{% schema %}
{
  "name": "Header",
  "settings": [
    {
        "id": "logo",
        "type": "image_picker",
        "label": "Logo"
    },
    {
        "id": "header_background",
        "type": "image_picker",
        "label": "Background Image"
    }
  ],
  "presets": [
    {
      "name": "Home Header",
      "category": "Custom"
    }
  ]
}
{% endschema %}