<div class="main-banner-area header">
    <div class="main-banner-bg">
        <div class="row">
            <div class="col text-center">
                <img src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/MAS_DES_INF_LOGO.png?v=1633494810">

                <div class="arrow-down">
                    <a data-scroll href="#section2">
                        <div class="arrow"></div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>