<div class="main-banner-area222 story-header">
    <div class="row story-heading">
        <div class="col text-center">
            <span>INTRODUCTION</span>
            <h2>OUR STORY</h2>
            <div class="arrow-down">
                <a data-scroll href="#section2">
                    <div class="arrow"></div>
                </a>
            </div>
        </div>
    </div>
</div>