<!-- Section Two Introduction-->
<section class="introduction-section" id="section2">
    <div class="container line">
        <div class="row">
            <div class="col text-center">
                <div class="vl"></div>
                <div class="heading">
                    <span>INTRODUCTION</span>
                    <h2>OUR WINES</h2>
                    <img class="img-intro3" src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/HOME_2.jpg?v=1633500067" alt="">
                    <p>The Mas des Infermières estate is a mythical and private place; a vast, rambling and rich
                        land where exceptional wines are created under the warmth of the Provençal sun. Since 1992
                        the Scott family have come here to paint, to read and to enjoy the life, played out over
                        long hot summers.</p>
                    <a href="Wines.php"><u>EXPLORE</u></a>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <img class="img-intro1" src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/Home_1.png?v=1633500067" alt="">
            </div>
            <div class="col line-left">
                <img class="img-intro2" src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/HOME_2.jpg?v=1633500067" alt="">
                <span class="img-count">01</span>
            </div>
        </div>
        <div class="row">
            <img class="img-intro4" src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/HOME_4.jpg?v=1633500067" alt="">
            <img class="img-intro5" src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/HOME_4.jpg?v=1633500067" alt="">
            <span class="img-count">02</span>
        </div>
        <div class="row mt-4">
            <div class="col-md-7"></div>
            <div class="col-md-5 col-sm-3">
                <img src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/HOME_2.jpg?v=1633500067" alt="">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col numbrs">
                <span>01</span>
                <p>The Provence air is lightly<br> fragranced with lavendar and bay</p>
            </div>
        </div>
        <div class="row">
            <div class="col numbrs">
                <span>02</span>
                <p>Syrah and Granache grapes are<br> grown around the estate</p>
            </div>
        </div>
    </div>
</section>
<!-- Section Two Introduction End-->