<!--Connect Section-->
<section class="connect-section text-center">
    <div class="container">
        <span>NEWS FROM THE ESTATE</span>
        <h2>CONNECT</h2>
        <div class="row mt-5 mb-5">
            <div class="col">
                <img src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/SOCIAL_1.jpg?v=1633505470" alt="">
            </div>
            <div class="col">
                <img src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/SOCIAL_2.jpg?v=1633505499" alt="">
            </div>
            <div class="col insta-hide">
                <img src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/SOCIAL_3.jpg?v=1633505528" alt="">
            </div>
            <div class="col insta-hide">
                <img src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/SOCIAL_4.jpg?v=1633505555" alt="">
            </div>
        </div>
        <a href="contact.php"><u>EXPLORE</u></a>
    </div>
</section>