
<!-- Section Our Residence-->
<section class="our-residence-section">
    <div class="container line">
        <div class="row">
            <img class="bg-residence" src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/HOME_9.jpg?v=1633504238" alt="">
            <span>01</span>
        </div>

        <div class="row text-center">
            <div class="col text-center">
                <div class="vl mb-3"></div>
                <span>INTRODUCTION</span>
                <h2>OUR RESIDENCES</h2>
                <p>The Mas des Infermières estate is a mythical and private place; a vast, rambling and rich land
                    where exceptional wines are created under the warmth of the Provençal sun. Since 1992 the Scott
                    family have come here to paint, to read and to enjoy the life, played out over long hot summers.
                </p>
                <a href="residence.php"><u>EXPLORE</u></a>
            </div>
        </div>

        <div class="row residence-intro">
            <div class="col-6">
                <img src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/HOME_10.jpg?v=1633504275" alt="">
            </div>
            <div class="col-6 line-left">
                <p>The silence and sunshine are a sanctuary from
                    my profession. I love
                    to come here and paint, read, write and, hopefully, improve my corner of Provence.</p>
                <h5>RIDLEY SCOTT</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6 numbrs line-left num">
                <span>01</span>
                <p>The Provence air is lightly<br> fragranced with lavendar and bay</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6 numbrs line-left">
                <span>02</span>
                <p>Syrah and Granache grapes are<br> grown around the estate</p>
            </div>
        </div>

    </div>
</section>
<!-- Section Our Residence MOBILE-->
<section class="residence-mbl line">
    <div class="container">
        <center>
            <span>INTRODUCTION</span>
            <h2>RESIDENCES</h2>
        </center>
        <div class="row">
            <div class="col">
                <img src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/pool52.jpg?v=1633504358" alt="">
                <p>The Mas des Infermières estate is a mythical and private place; a vast, rambling and rich land
                    where exceptional wines are created under the warmth of the Provençal sun. Since 1992 the Scott
                    family have come here to paint, to read and to enjoy the life, played out over long hot summers.
                </p>
                <center> <a href=""><u>EXPLORE</u></a></center>
                <img class="mt-5" src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/IMG_6579.jpg?v=1633504393" alt="">
                <p class="resi-intro">The silence and sunshine are a sanctuary from
                    my profession. I love
                    to come here and paint, read, write and, hopefully, improve my corner of Provence.</p>
                <h5>RIDLEY SCOTT</h5>
            </div>
        </div>
    </div>
</section>