<div class="navbar-area">
    <!-- Navbar Mobile -->
    <div class="mdi-responsive-nav mbl-nav">
        <div class="container">
            <div id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div class="overlay-content">
                    <a href="wines.php">OUR WINES</a>
                    <a href="story.php">OUR STORY</a>
                    <a href="residences.php">RESIDENCES</a>
                    <div class="row extra-menu">
                        <div class="col">
                            <a href="journal.php">JOURNAL</a>
                        </div>
                        <div class="col">
                            <a href="contact.php">CONTACT</a>
                        </div>
                    </div>
                </div>
            </div>
            <span style="font-size:30px;cursor:pointer;color: #fff;" onclick="openNav()">&#9776;</span>
            <span onclick="openSearch()"><i class="fas fa-search float-end mt-3"></i></span>
            <!-- Serch Icon-->
            <div id="mySearch" class="overlay2">
                <a href="javascript:void(0)" class="closebtn2" onclick="closeSearch()">&times;</a>
                <div class="overlay-content">
                    <input type="text" class="form-control" value="Search">
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar Mobile End -->

    <!-- Navbar Desktop -->
    <div class="mdi-nav desktop-nav">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light text-center">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <a class="nav-link active desk-hideXX" aria-current="page" href="index.php">HOME</a>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="wines.php">OUR WINES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="story.php">OUR STORY</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="residences.php">RESIDENCES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="journal.php">JOURNAL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.php">CONTACT</a>
                        </li>
                    </ul>
                </div>
                <span onclick="openDeskSearch()"><i class="fas fa-search"></i></span>
                <!-- Serch Icon-->
                <div id="deskSearch" class="overlay">
                    <a href="javascript:void(0)" class="closebtn2" onclick="closeDeskSearch()">&times;</a>
                    <div class="overlay-content">
                        <input type="text" class="form-control" value="Search">
                    </div>
                </div>

            </nav>
        </div>
    </div>
    <!-- Navbar Desktop End -->
</div>