<!----Category Section---->
<section class="stay-category-section text-center">
    <div class="container line">
        <div class="story-vl"></div>
        <div class="row pt-4 pb-5">
            <div class="col-md-4 col-sm-12 cta-box">
                <span>SLEEPS 6</span>
                <h4>GRIS</h4>
                <a class=" mt-5" href="residence-detail.php"><u>EXPLORE</u></a>
            </div>
            <div class="col-md-4 col-sm-12 cta-box">
                <span>SLEEPS 10</span>
                <h4>Les chênes verts</h4>
                <a class=" mt-5" href="residence-detail.php"><u>EXPLORE</u></a>
            </div>
            <div class="col-md-4 col-sm-12 cta-box">
                <span>SLEEPS 6</span>
                <h4>MARCOU</h4>
                <a class=" mt-5" href="residence-detail.php"><u>EXPLORE</u></a>
            </div>
        </div>
    </div>
</section>