<!----Stay Image Section Section---->
<section class="stayimg-section">
    <div class="container line">
        <div class="story-vl"></div>
        <div class="row">
            <div class="col-8 mbl-hide">
                <img class="stayimg1" src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/RESIDENCES_2.jpg?v=1633521863" alt="">
                <span>01</span>
            </div>
            <div class="col-4 mbl-hide">
                <img class="stayimg2" src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/Residences_1.png?v=1633521416" alt="">
            </div>
            <!-----Mobile Image-->
            <div class="col desk-hide">
                <img class="stayimg1-mbl" src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/RESIDENCES_1_3.jpg?v=1633521924" alt="">
                <p class="stayimg-desmbl">This extraordinary “Arts” house is perfect for a big family or a group of
                    friends. It has a separate apartment with kitchen and private entrance and terrace.</p>
                <img class="tab-res2" src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/Residences_3.png?v=1633521971" alt="">
            </div>
        </div>
    </div>
    <div class="container mbl-hide line">
        <div class="row stay-intro">
            <div class="col-md-6">
                <p>The silence and sunshine are a sanctuary from
                    my profession. I love
                    to come here and paint, read, write and, hopefully, improve my corner of Provence.</p>
                <h5>RIDLEY SCOTT</h5>
            </div>
            <div class="col-md-6 line-left">
                <img class="stayimg3" src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/RESIDENCES_4.jpg?v=1633522078" alt="">
                <span>02</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img class="stayimg4" src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/RESIDENCES_5.jpg?v=1633522108" alt=""><br>
                <span style="margin-left:1%;">03</span>
            </div>
            <div class="col-md-6 stay-point line-left">
                <div class="numbrs">
                    <span>01</span>
                    <p>The Provence air is lightly<br> fragranced with lavendar and bay</p>
                </div>
                <div class="numbrs">
                    <span>02</span>
                    <p>Syrah and Granache grapes are<br> grown around the estate</p>
                </div>
                <div class="numbrs">
                    <span>03</span>
                    <p>The Provence air is lightly<br> fragranced with lavendar and bay</p>
                </div>
            </div>
        </div>
    </div>
</section>