<section class="resi-intro-section">
    <div class="container line">
        <div class="row">
            <div class="col">
                <img src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/Residences_3_bf5c78d0-3d7e-4d3f-99db-924d3c4d63ab.png?v=1633524125" alt="">
            </div>
            <div class="col mbl-hide line-left">
                <p>The silence and sunshine are a sanctuary from
                    my profession. I love
                    to come here and paint, read, write and, hopefully, improve my corner of Provence.</p>
                <h5>RIDLEY SCOTT</h5>
            </div>
        </div>
    </div>
</section>