<!-- Section Two Resience Detail-->

<section class="resi-des-section">
    <div class="container line">
        <div class="row">
            <div class="col mbl-hide">
                <p> 3 doubles, 1 twin(double poss), 2 single beds<br>
                    Surface house: 1000sq.ft<br>
                    Surface garden: 3000sq.ft<br>
                    5-6 rooms with their private bathroom<br>
                    Big fully equipped kitchen <br>
                    (and another kitchen in the apartment)</p>
            </div>
            <div class="col mbl-hide line-left">
                <p>
                    Several salons and dinner rooms with a fireplace<br>
                    Big terraces<br>
                    Private Swimming pool<br>
                    Secured parking on the property<br>
                    Free Wifi and TV Sat
                </p>
            </div>
            <!----Mobile Content--->
            <div class="col desk-hide">
                <p>3 doubles, 1 twin(double poss), 2 single beds<br>
                    Surface house: 1000sq.ft<br>
                    Surface garden: 3000sq.ft<br>
                    5-6 rooms with their private bathroom<br>
                    Big fully equipped kitchen <br>
                    (and another kitchen in the apartment)<br>
                    Several salons and dinner rooms with a fireplace<br>
                    Big terraces<br>
                    Private Swimming pool<br>
                    Secured parking on the property<br>
                    Free Wifi and TV Sat</p><br>
            </div>
        </div>
        <!--Slider-->
        <div class="row">
            <div class="col">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/RESIDENCES_2_2.jpg?v=1633523789" class="d-block w-100"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/RESIDENCES_2_2.jpg?v=1633523789" class="d-block w-100"
                                alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/RESIDENCES_2_2.jpg?v=1633523789" class="d-block w-100"
                                alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col">
                <p class="slider-dis">
                    This extraordinary “Arts” house is perfect for a big family or a group of friends. It has a
                    separate apartment with kitchen and private entrance and terrace.
                </p>
            </div>
            <div class="col line-left"></div>
        </div>

    </div>
</section>