<section class="resi-acco-section">
    <div class="container line">
        <h2>ACCOMMODATION</h2>
        <div  style="display: block;" class="vl"></div>
        <div class="row">
            <div class="col-9">
                <img class="img1 mbl-hide" src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/Residences_4.png?v=1633524298" alt="">
                <p class="mbl-hide">House: 1000sq.ft Garden: 3000sq.ft</p>
            </div>
            <div class="col-3">
                <img class="img2 mbl-hide" src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/Residences_5_ba34cad6-320a-42b8-99fd-9dcc7d5cc4b8.png?v=1633524339" alt="">
            </div>
            <div class="eq-btn mbl-hide">
                <div class="vl mb-2"></div>
                <center> <a href=""><u>ENQUIRE</u></a></center>
                <div class="vl mt-4"></div>
            </div>
            <!--Mobile Content-->
            <div class="col desk-hide">
                <img class="img3" src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/Residences_4.png?v=1633524298" alt="">
                <center>
                    <p class="mt-5">House: 1000sq.ft Garden: 3000sq.ft</p>
                    <a class=" mt-5" href=""><u>ENQUIRE</u></a>
                </center>
            </div>

        </div>
    </div>
</section>