<!----STAY AT THE MAS Section---->
<section class="stay-mas-section" id="section2">
    <div class="container text-center line">
        <div class="vl"></div>
        <div class="heading">
            <span>INTRODUCTION</span>
            <h2>STAY AT THE MAS</h2>
        </div>
        <div class="row mt-5 pb-5">
            <div class="col mbl-hide">
                <p>The Mas des Infermières is located in the heart of Provence, in the Luberon Regional Natural
                    Park. Situated in the “Golden Triangle” between Ménerbes and Gordes, in this magical area,
                    surrounded by the vineyard, olive trees and truffle oak trees, you will find a little “hameau”
                    of three different houses, created for the most perfect holiday. All three houses have been
                    carefully renovated and refurbished, designed and furnished by Mr.Scott in a premium and
                    contemporary </p>
            </div>
            <div class="col mbl-hide">
                <p>Provençal style. To make you feel truly at home, each house has its own private pool and garden,
                    a fully equipped kitchen, vast living areas and all bathrooms as en suite. These charming houses
                    can easily accommodate your family or group of friends, up to a party of six or nine. The Scott
                    family welcomes you to their estate and hopes that, as they have, you fall in love with this
                    quiet Provençal backwater.</p>
            </div>
            <div class="col desk-hide">
                <p>The Mas des Infermières is located in the heart of Provence, in the Luberon Regional Natural
                    Park. Situated in the “Golden Triangle” between Ménerbes and Gordes, in this magical area,
                    surrounded by the vineyard, olive trees and truffle oak trees, you will find a little “hameau”
                    of three different houses, created for the most perfect holiday. All three houses have been
                    carefully renovated and refurbished, designed and furnished by Mr.Scott in a premium and
                    contemporary Provençal style. To make you feel truly at home, each house has its own private
                    pool and garden, a fully equipped kitchen, vast living areas and all bathrooms as en suite.
                    These charming houses can easily accommodate your family or group of friends, up to a party of
                    six or nine. The Scott family welcomes you to their estate and hopes that, as they have, you
                    fall in love with this quiet Provençal backwater.</p>
                <a class=" mt-5" href=""><u>EXPLORE</u></a>
                <img class="mt-5" src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/Residences_1.png?v=1633521416" alt="">
            </div>
        </div>
    </div>
</section>