<!----Accommodation Section Section---->
<section class="accomodation-section mbl-hide">
    <div class="container line">
        <h2>ACCOMMODATION</h2>
        <div class="story-vl"></div>
        <div class="row">
            <div class="col">
                <img class="acco-img" src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/Residences_2.png?v=1633522382" alt="">
                <div class="acco-link">
                    <p>Les chênes verts</p>
                    <a class=" mt-5" href=""><u>EXPLORE</u></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img class="acco-img1" src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/Residences_5.png?v=1633522410" alt="">
            </div>
        </div>
    </div>
</section>