<!-- Section Two Resience Detail-->
<section class="resi-detail-section text-center" id="section2">
    <div class="container line">
        <div class="row">
            <div class="col">
                <div style="display: bock;" class="story-vl"></div>
                <p class="mbl-hide pt-4">This extraordinary “Arts” house is perfect for a big family or a group of
                    friends. It has a separate apartment with kitchen and private entrance and terrace.</p>
                <!--Mobile-->
                <p class="desk-hide">The silence and sunshine are a sanctuary from my profession. I love to come
                    here and paint, read, write and, hopefully, improve my area of Provence.</p>
                <span>Sleeps maximum 10 <br>Price: from € 900/day</span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <a class=" mt-5" href=""><u>ENQUIRE</u></a>
            </div>
        </div>
    </div>
</section>