<!-- Section Two-->
<section class="storypage-content-section" id="section2">
    <div class="container line mb-5 mbl-hide">
        <div class="story-vl"></div>
    </div>
    <div class="container line">
        <div class="row">
            <div class="col">
                <p class="st-des mbl-hide">The majestic structure of Mas des Infermières, along the road of Saint
                    Sebastien, is in the plain of Les Poulivets, a settlement just outside of Oppède-Le-Vieux.</p>
                <p class="st-des desk-hide">The silence and sunshine are a sanctuary from my profession. I love to
                    come here and paint, read, write and, hopefully, improve my area of Provence.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid line">
        <div class="row">
            <div class="col mbl-hide">
                <img style="width: -webkit-fill-available; margin-top: -70px;" src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/Our_Story_1.png?v=1633516872" alt="">
            </div>
            <div class="col desk-hide">
                <img style="margin-left: -16px;width: 108%;" src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/our-storyA.png?v=1633516903" alt="">
            </div>
        </div>
    </div>
    <div class="container line">
        <div class="story-vl"></div>
        <div class="row mb-5">
            <!--MOBIle-->
            <div class="col-sm-12 desk-hide">
                <p>After ten years in the English Cotswold countryside, which was very beautiful but also quite
                    damp, I was encouraged to look for a sunny place in Provence.</p>
                <p> I found the climate and light of Provence very relaxing and charming; it explained the reason
                    for the area being so prolific and attractive to the great school of painters that lived here in
                    the first half of the 20th century — Picasso and Van Gogh no less, and others.</p>
                <p> I bought a pretty “Manoir” in 1992, with 11 hectares of newly planted vines with American
                    rootstock, just one kilometer from Oppède-le-Vieux. For ten years, my crop was harvested by the
                    co-operative at Coustellet. In this time, I was lucky to meet Denis Langue, an expert winemaker.
                    I was curious to see what my vines were producing after 17 years of maturing in the Oppède soil
                    and sun.</p>
            </div>
            <center><a class="desk-hide mt-5" href=""><u>EXPLORE</u></a></center>
            <!--DESKTOP-->
            <div class="col mbl-hide">
                <p>{{ section.settings.des_body_left }}</p>
            </div>
            <div class="col mbl-hide">
                <p>By 2012 we were awarded a Gold Medal at the Paris “Concours General Agricole,” a Silver medal in
                    2015, and again, another Gold in 2016.</p>
                <p> Clearly, it was time to consider building a Cave in the Oppède vineyard. In 2017 it was designed
                    with the help of a local architect, Andrew Corpe from Bonnieux — an Englishman who has been
                    working in Provence for over 30 years. We broke ground in late 2018, it will be completed by
                    late 2020. </p>
                <p>In the 25 years I have been visiting this magical area, it has become an important place for me
                    with its rich history — In 2009 I made a film there celebrating my love for the district and the
                    French way of life, “A Good Year”. The silence and sunshine are a sanctuary from my profession —
                    filming is noisy, and stress filled, but it is my passion, and I live it. I love to come here
                    and paint, read, write and, hopefully,
                    improve my corner of Provence.</p>
                <p style="font-style: italic;">I hope you enjoy our wine!</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <center><img class="mbl-hide" style="width: 20%;" src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/HANDWRITING.png?v=1633516965" alt=""></center>
            </div>
        </div>
        <div class="row mt-5">
            <!---border row-->
            <div class="row">
                <div class="col">
                    <div class="story-vl"></div>
                </div>
            </div>
            <!---border row end-->
            <div class="col-9">
                <img class="mbl-hide" style="width: 833px;height: 476px;" src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/STORY_3.jpg?v=1633517011" alt="">
                <!---Mobile Content-->
                <img class="desk-hide tab-res" src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/STORY_3_fcc12755-7e7d-4be7-a079-aed3ab51d79e.jpg?v=1633517051" alt="">
            </div>
            <div class="col-3 mbl-hide">
                <div class="numbrs">
                    <span>01</span>
                    <p>The Provence air is lightly<br> fragranced with lavendar<br> and bay</p>
                </div>
                <div class="numbrs">
                    <span>02</span>
                    <p>Syrah and Granache grapes<br> are grown around the estate</p>
                </div>
            </div>
        </div>
    </div>
</section>


{% schema %}
{
  "name": "Home Section (Our Wines)",
  "settings": [
  {
    "id": "text_desk",
    "type": "richtext",
    "label": "Add Description for desktop",
    "default": "<p>THE MAJESTIC STRUCTURE OF MAS DES INFERMIÈRES, ALONG THE ROAD OF SAINT SEBASTIEN, IS IN THE PLAIN OF LES POULIVETS, A SETTLEMENT JUST OUTSIDE OF OPPÈDE-LE-VIEUX.</p>"
  },
  {
    "id": "text_mbl",
    "type": "richtext",
    "label": "Add Description for mobile",
    "default": "<p>The silence and sunshine are a sanctuary from my profession. I love to come here and paint, read, write and, hopefully, improve my area of Provence.</p>"
  },
  {
    "id": "img_desk",
    "type": "image_picker",
    "label": "Full Image For Desktop"
  },
  {
    "id": "img_mbl",
    "type": "image_picker",
    "label": "Full Image For Mobile"
  },
  {
    "id": "des_body_left",
    "type": "richtext",
    "label": "Add left column text for Desktop",
    "default": "<p>After ten years in the English Cotswold countryside,  </p>"
  },
  {
    "id": "point_one",
    "type": "text",
    "label": "Number One Text",
    "default": "The Provence air is lightly fragranced with lavendar and bay"
   },
  {
    "id": "point_two",
    "type": "text",
    "label": "Number Two Text",
    "default": "Syrah and Granache grapes are grown around the estate"
  }
  ],
  "presets": [
    {
      "name": "Home Section2 Wines",
      "category": "Custom"
    }
  ]
}
{% endschema %}