<section style="background-image: url('{{section.settings.background-img}}'); height: 200px;">
    <div class="container">
        <div class="custom-text-section">
          <center>
            <h2> {{ section.settings.custom_text_title }} </h2>
            <div>{{ section.settings.custom_text_body }}</div>
          </center>
          </div>
    </div>
</section>

  
  {% schema %}
    {
      "name": "Text Box",
      "settings": [
        {
          "id": "custom_text_title",
          "type": "text",
          "label": "Text box heading",
          "default": "Title"
        },
        {
          "id": "custom_text_body",
          "type": "richtext",
          "label": "Add custom text below",
          "default": "<p>Add your text here</p>"
        },
        {
            "id": "background-img",
            "type": "image_picker",
            "label": "Add Backgrond Image"
        }
      ],
      "presets": [
        {
          "name": "Test Section",
          "category": "Custom"
        }
      ]
    }
  {% endschema %}