<!-- Wine Collection Setion-->
<section class="wine-collection-section text-center">
    <div class="container line">
        <div class="story-vl"></div>
        <div class="wine-vl"></div>
        <div class="wine-vl2"></div>
    </div>
    <div class="container line">
        <div class="heading">
            <span class="mbl-hide">THE MAS DES INFERMIERES</span>
            <span class="desk-hide">OUR WINES</span>
            <h2>COLLECTION</h2>
        </div>
        <div class="row">
            <div style="display: flex;" class="owl-carousel mt-5">
                <div class="wine-item line-left">
                    <center> <img src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/Product_1.png?v=1633509014" alt=""></center>
                    <h3>ROSé SOURCE 2O2O</h3>
                    <a class=" mt-5" href="single-product.php"><u>EXPLORE</u></a>
                </div>
                <div class="wine-item text-center line-left">
                    <center> <img src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/Product_2.png?v=1633509051" alt=""></center>
                    <h3>ROUGE SOURCE 2O2O</h3>
                    <a class=" mt-5" href="single-product.php"><u>EXPLORE</u></a>
                </div>
                <div class="wine-item text-center line-left">
                    <center><img src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/Product_3.png?v=1633509094" alt=""></center>
                    <h3>CHEVALIER ROSé SOURCE 2O2O</h3>
                    <a class=" mt-5" href="single-product.php"><u>EXPLORE</u></a>
                </div>
                <div class="wine-item line-left">
                    <p>COMING SOON LOREM IPSUM DOLOR SIT AMET FUGUS LOREM.</p>
                </div>
            </div>
        </div>
    </div>
</section>