<!--Single Product Detail Section-->

<section class="product-detail">
    <div class="container line pt-5">
        <div class="row">
            <div class="col mbl-hide">
                <div class="product-description">
                    <span>TERROIR</span>
                    <p>Northern part of Oppède. Colluvial soils with clay and sand.</p>
                </div>
                <div class="product-description mt-4">
                    <span>GRAPE VARIETALS</span>
                    <p>Grenache, Syrah.</p>
                </div>
                <div class="product-description mt-4">
                    <span>SUSTAINABLE VIRTICULTURE</span>
                    <p>With planned optimization of all resources to lower the vineyard’s carbon footprint. Bee
                        protection protocols.</p>
                </div>
                <div class="product-description mt-4">
                    <span>TRADITIONAL WINEMAKING</span>
                    <p>Carefully planned harvesting to get optimal maturity in each plot, sorting, de-stemming and
                        gentle press. Blending the production of several plots in order to reach a complex, fresh
                        and elegant wine.</p>
                </div>
            </div>
            <div class="col text-center detail-bg">
                <img src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/Product_1.png?v=1633509014" alt="">
            </div>
            <!---Mobile COntent--->
            <div class="col-12 desk-hide mt-5">
                <div class="product-description">
                    <span>TERROIR</span>
                    <p>Northern part of Oppède. Colluvial soils with clay and sand.</p>
                </div>
                <div class="product-description mt-4">
                    <span>GRAPE VARIETALS</span>
                    <p>Grenache, Syrah.</p>
                </div>
                <div class="product-description mt-4">
                    <span>SUSTAINABLE VIRTICULTURE</span>
                    <p>With planned optimization of all resources to lower the vineyard’s carbon footprint. Bee
                        protection protocols.</p>
                </div>
                <div class="product-description mt-4">
                    <span>TRADITIONAL WINEMAKING</span>
                    <p>Carefully planned harvesting to get optimal maturity in each plot, sorting, de-stemming and
                        gentle press. Blending the production of several plots in order to reach a complex, fresh
                        and elegant wine.</p>
                </div>
            </div>
            <!---MObile Content End--->
            <div class="col">
                <div class="product-description">
                    <span>TASTIIND NOTES</span>
                    <p>Light salmon pink colour, aromas of tropical fruit, delightful acidity and freshness with a
                        long and rewarding finish.</p>
                </div>
                <div class="product-description mt-4">
                    <span>AGING POTENTIAL</span>
                    <p>1 to 3 years.</p>
                </div>
                <div class="product-description mt-4">
                    <span>RECOMMENDED TEMPERATURE</span>
                    <p>10-12 °C, 50-54°F. To be chilled 1 hour before drinking.</p>
                </div>
                <div class="product-description mt-4">
                    <span>SUGGESTED PAIRINGS</span>
                    <p>Aperitif, spring and summer salads, charcuterie, paella, pizza, BBQ meats.</p>
                </div>
            </div>
        </div>
    </div>
</section>