<section class="productdetail-img">
    <div class="container line">
        <div class="row">
            <div class="col mbl-hide">
                <img src="https://cdn.shopify.com/s/files/1/0605/1069/9691/files/Our_Wines_Product_Detail_1.png?v=1633527835" alt="">
            </div>
        </div>
        <div class="row mt-5">
            <center> <a class=" mt-5" href=""><u>ENQUIRE</u></a></center>
        </div>
    </div>
</section>